name: scp files
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: copy file via ssh password
      uses: appleboy/scp-action@master
      with:
        host: 165.232.164.156
        username: root
        password: "@Aa123456Aa"
        port: 22
        source: "tests/a.txt,tests/b.txt"
        target: "test"
